<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>

    <%- include('./partials/nav.ejs') %>

    <div class="create-blog content">
        <h2>Create New Blog</h2>
        <form>
            <div class="form-group">
                <label for="title">Blog Title:</label>
                <input type="text"  id="title" class="form-control" required>
            </div>
            
            <div class="form-group">
                <label for="title">Blog snippet:</label>
                <input type="text"  id="snippet" class="form-control" required>
            </div>
            
            <div class="form-group">
                <label for="body">Body</label>
                <textarea id="body" class="form-control" required></textarea>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary">submit</button>
            </div>
        </form>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html> 